.user-info h3 {
  margin: 0 auto;
  margin-top: 16px;
}

.profile-pic img {
  margin: 0 auto;
}

.user-info {
  margin-bottom: 16px;
}

.user-bio h3 {
  text-align: center;
}

#city {
  text-align: center;
}

.user-bookings {
  background-color: white;
  padding: 8px 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 16px;
}

.user-history {
  background-color: white;
  padding: 8px 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 16px;
}

.add-skill {
  display: flex;
  align-items: center;
}

.add-skill a {
  margin-left: 16px;
}

.dash-header {
  margin-bottom: 16px;
}

.user-bookings strong {
  color: #5c5c5c;
}

.profile-pic {
  display: flex;
  justify-content: center;
}
