.user-info h3 {
  margin: 0 auto;
  margin-top: 16px;
}

.profile-pic img {
  margin: 0 auto;
}

.user-info {
  margin-bottom: 16px;
}

.user-bio h3 {
  text-align: center;
}

#city {
  text-align: center;
}

.dashboard {
  padding: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 16px;
  background-color: #f5f5f5;
}

.dashboard strong {
  color: #5c5c5c;
}

.add-skill {
  display: flex;
  align-items: center;
}

.card-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-skill a {
  margin-left: 16px;
}

.dash-header {
  margin-bottom: 16px;
}


.profile-pic {
  display: flex;
  justify-content: center;
}
