<!-- you may use for before iterating skills -->

<div class="container">
  <div class="row">

<!-- you may apply inside iteration for skills -->

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-profile">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-profile-infos">
          <h2>skill.user.first_name</h2>
          <p>skill.user.work_histrories.last.company_name</p>
          <p>skill.user.city</p>
          <p>skill.description</p>
        </div>
      </div>
    </div>



  </div>
</div>
