 <div class="home-banner">
  <div class="banner-text">
    <h2>Find a business match</h2>
    <div class="nav-banner">
      <input type="text" placeholder="Search">
        <%= link_to "#" do %>
            <i class="fas fa-search" style="color: white;"></i>
        <% end %>
    </div>
  </div>
</div>
