.card {
  margin-top: 16px;
  padding: 16px 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

// #collapseBio a.collapsed:after  {
//     content: '+ Show More';
// }

// #collapseBio a:not(.collapsed):after {
//     content: '- Show Less';
// }


.card-profile {
  margin: 18px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  img {
    height: 60%;
    width: 100%;
    object-fit: cover;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-profile-infos {
    height: 40%;
    padding: 16px;
  }

}

.card-product {
  margin-top: 16px;
  overflow: hidden;
  width: 500px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 16px 0;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  width: 90%;
  padding: 16px;
}

